<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alle Module</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Alle Module</h1>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Fach</th>
            <th>Semester</th>
            <th>ECTS</th>
        </tr>
        </thead>
        <tbody th:each="m : ${module}">
        <tr>
            <td th:text="${m.id}">ID</td>
            <td th:text="${m.fach}">Fach</td>
            <td th:text="${m.semester}">Semester</td>
            <td th:text="${m.verfuegbareEcts}">ECTS</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
